* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    /* font-size: 0; */
}
.box {
    font-size: 16px;
    width: 100%;
    padding: 30px;
    float: left;
    border: orange 10px solid;
}
@media (min-width: 768px) {
    .box{
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .box{
    width: 25%;
}
}
