img{
    height: 300px;
    margin-bottom: 300px;
    transform-origin:bottom left;
    transition: all 2s;
    
}
/* obrót */
.rotate img{
    transform: rotate(20deg);
}
/* przesunięcie */
.translate img{
    transform: translate(200px,-100px);
}
.scale img {
    transform: scale(2,2);
}
.animation img {
    animation: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes resize{
    0%, 100% {
        height: 300px;
    }
    50%{
        height: 350px;
    }
}